html{
    background-color: #FFEBAF;
    height: 100%
}
body{
  height: 90%;
}
.container{
  height: 100%;
  text-transform: uppercase;
  grid-gap: 5px;
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(auto-fit ,minmax(100px,1fr));
  grid-template-rows: 100px 100px;
  grid-auto-rows:100px;
}
